n8n/campaign-alert-workflow.json
{
  "name": "Campaign Alert System — Inlaze",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-alerts",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ef461dfe-5af3-444c-9f51-be7b86c1ef05",
      "name": "Webhook",
      "webhookId": "c1db8516-8363-469a-b290-ebba1e745608"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ddab197-42f6-4102-bc44-e1dacf065562"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Critical"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "514c3d59-6107-45b7-94c9-bde6de9a7fd4",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "warning",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Warning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b0fa9e8-4767-45be-b484-02b7da2fd10a",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "c62c311f-9e65-4bb6-b301-c5cb65e9cc28",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🚨 CRITICAL Alert: {{ $json.name }} | ROAS: {{ $json.metric }} | Spend: ${{ $json.spend }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -112
      ],
      "id": "31879211-5f97-4856-b4d2-5100df2c830d",
      "name": "Discord Critical Alert"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        608,
        192
      ],
      "id": "c8f41b3f-b2ac-4103-8e77-cdb2bd329d71",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        816,
        192
      ],
      "id": "37e8d4f7-5cb4-4d5f-97cb-2dc05b7356af",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"append_to_sheet\",\n  \"sheetName\": \"Campaign Warnings\",\n  \"data\": {\n    \"name\": \"{{ $json.name }}\",\n    \"metric\": \"{{ $json.metric }}\",\n    \"status\": \"{{ $json.status }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        32
      ],
      "id": "29ab0899-01b0-4694-b41f-0307641fe541",
      "name": "Google Sheets (Simulated)"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.all()[0].json;\n\nconst errorLog = {\n  level: 'ERROR',\n  source: 'n8n-campaign-alert-workflow',\n  errorMessage: errorData.error?.message || 'Unknown error',\n  timestamp: new Date().toISOString(),\n  context: 'Error captured — workflow continues'\n};\n\nreturn [{ json: errorLog }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        192
      ],
      "id": "1d661baa-ec4e-483f-aafb-b5db0fe823ba",
      "name": "Error Logger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96d06150-0be9-4255-9ebe-046e78320cd8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "dc64360e-79c5-4ca2-97dd-76b170490388",
      "name": "Filter: warning & critical only"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter: warning & critical only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Discord Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets (Simulated)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: warning & critical only": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6fb05d0f-e926-4ba2-baf7-dda1cbecae8d",
  "meta": {
    "instanceId": "335a85c99b9bca20ba9f6e0c44ba68a6b801128f28e91d1c29a073c3435617e0"
  },
  "id": "itwzfrEoC1QuvT9i",
  "tags": []
}